@font-face {
	font-family: 'perfopsone';
	src: url('./perfopsone.ttf?jsmz12') format('truetype'),
	url('./perfopsone.woff?jsmz12') format('woff'),
	url('./perfopsone.svg?jsmz12#perfopsone') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="poo-ico-"], [class*=" poo-ico-"] {
	font-family: 'perfopsone' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.poo-ico-logo:before {
	content: "\e900";
}
