.decalog-about-logo {
    width: 128px;
    float: right;
    margin: -20px 8px 8px 20px;
    transition: opacity 1.4s ease-in;
}

.markdown ul{
    list-style: disc;
    margin-left: 20px;
}

.markdown h3 {
    margin: 40px 0 0 0;
}

.markdown blockquote {
    border-left: 4px solid rgba(0,0,0,.07);
    padding-left: 10px;
    margin-left: 20px;
}

.markdown blockquote p {
    font-size: smaller !important;
}

.markdown pre code {
    display: block;
    padding: 14px;
    border-radius: 4px;
}

.markdown code.language-bash {
    background-color: #23282d;
    color:#AAAAAA;
}

.markdown code.language-bash::before {
    content: " > ";
}

@media only screen and (max-width: 500px) {
    .decalog-about-logo {
        width: 92px;
        margin: -16px 6px 6px 16px;
    }
}
