.decalog-about-logo {
    width: 128px;
    float: right;
    margin: -20px 8px 8px 20px;
    transition: opacity 1.4s ease-in;
}

@media only screen and (max-width: 500px) {
    .decalog-about-logo {
        width: 92px;
        margin: -16px 6px 6px 16px;
    }
}
