.decalog-about-logo {
    width: 128px;
    float: right;
    margin: -20px 8px 8px 20px;
    transition: opacity 1.4s ease-in;
}

.markdown ul{
    list-style: disc;
    margin-left: 20px;
}

.markdown h3 {
    margin: 40px 0 0 0;
}

.markdown blockquote {
    border-left: 4px solid rgba(0,0,0,.07);
    padding-left: 10px;
    margin-left: 20px;
}

.markdown blockquote p,
.markdown blockquote code {
    font-size: smaller !important;
}

.markdown pre code {
    display: block;
    padding: 14px;
    border-radius: 4px;
    padding-left: 36px;
}

.markdown code.language-console {
    background-color: #23282d;
    color:#AAAAAA;
}

.markdown code.language-bash {
    background-color: #23282d;
    color:#AAAAAA;
    padding-left: 36px;
}

@media only screen and (max-width: 500px) {
    .decalog-about-logo {
        width: 92px;
        margin: -16px 6px 6px 16px;
    }
}

@keyframes decalog-selftoken-blink {
    from { filter: grayscale(0%) opacity(100%) }
    50% { filter: grayscale(80%) opacity(20%) }
    to { filter: grayscale(0%) opacity(100%) }
}

.decalog-selftoken {
    animation:decalog-selftoken-blink 1200ms infinite;
}
